# Binaries
bin/
obj/
*.csproj
\# file types<br>
*.cache<br>
*.dtbcache.v2<br>
*.dll<br>
*.pdb<br>
*.suo<br>
.suo<br>
*.testlog<br>
*.user<br>
*.sln
\# directories<br>
**/Release
.sln
# User-specific files
*.user
*.suo
*.vs/
*.vscode/

# Build results
obj/Debug/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Oo]bj/
[Ll]og/

# Visual Studio files
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.settings/
*.sln.docstates
*.tss
*.userprefs
*.vssscc
*.vssettings
*.vstemplate
*.vsz
*.wapproj
*.webinfo
*.wiq
*.wixproj
*.wixout
*.wixpdb
*.wixproj.filters
*.[Cc]ache
*.launch.cs
*.resx.vspscc
*.vsmdi
*.vsp
*.csproj.user
*.csproj.vspscc
*.vstemplate.cache
*.ipch/

# Resharper files
_ReSharper*/
*.ReSharper*
*.DotSettings.user

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Installshield output folder
[Ee]xpress/

# DocFX output folder
_docfx/

# Ignore .NET Core tools that are essentially NuGet packages
/**/project.assets.json
*.nuget.props
*.nuget.targets

# Ignore the global packages folder
# If you have different SDK versions installed, this can break your build if you use MSBuild.
# Uncomment the next line if you want to ignore the global packages folder.
# **/Microsoft.NETCore.Platforms/*/Microsoft.NETCore.Platforms*.nupkg